[Desktop Entry]
Version=1.0
Type=Application
Name=Fluid Mechanics Lab Calc.
Comment=Application provides calculation in practical works in fluid mechanic laboratory.
Categories=Education;Science;Utility;
Icon=io.github.hafmed.TP-Labo-Hyd
Exec=apptp_labo_hyd
Terminal=false
Keywords=Science;engineering;Experimental;Hydraulic;Laboratory;Fluid Mechanics;Calcul;Flow;Water;armfield;TQ équipements;DELTALAB;ENTEC;Gunt;TP Hydraulique;training equipment;C++;Qt;qml;
