[Desktop Entry]
Version=1.0
Type=Application
Name=Fluid Mechanics Lab Calc.
Comment=Application provides calculation in practical works in fluid mechanic laboratory.
Categories=Education;Utility;
Icon=io.github.hafmed.TP-Labo-Hyd
Exec=apptp_labo_hyd
Terminal=false
Keywords=Hydraulic;Laboratory;Fluid Mechanics;Calcul;Qt;qml;
